<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ CONSULTORIA</title>

    <!-- CSS-->
        <link rel="stylesheet" href="../../src/css/home.css">
        <link rel="stylesheet" href="../../src/css/about.css">
        <link rel="stylesheet" href="../../src/css/reponsividade.css">


    <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.min.css">
        <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>
        <script src="../../vendor/bootstrap/js/bootstrap.min.js" defer></script>

    <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- ICON -->
        <link rel="icon" href="../../src/img/logo.png">
    
</head>
<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <section class="section-navbar">
                    <div class="Navs">
                        <nav class="Navbar" id="navbar">
                            <div class="logo">
                                <img src="../.././src/img/logo.png" alt="logo">
                                <h1>CONSULTORIA 
                               <br> EM <Span>GESTÃO PÚBLICA</Span></h1>
                            </div>
            
                            <div class="links">
                                <a href="../../">
                                    <ul>
                                        <li class="nav-links">Principal</li>
                                    </ul>
                                </a>
                                <a href="../../#section-especialistas">
                                    <ul>
                                        <li class="nav-links">Especialistas</li>
                                    </ul>
                                </a>
                                <a href="./Cursos.html">
                                    <ul>
                                        <li class="nav-links">Cursos</li>
                                    </ul>
                                </a>
                                <a href="#">
                                    <ul>
                                        <li class="nav-links">Contábil</li>
                                    </ul>
                                </a>
                                <a href="./Administrativo.html">
                                    <ul>
                                        <li class="nav-links">Administrativo</li>
                                    </ul>
                                </a>
                                <a href="../../#section-contatos">
                                    <ul>
                                        <li class="nav-links">Contatos</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="hamburger" id="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </nav>
                        <ul class="extra-menu" id="extra-menu">
                            <li><a href="../../">Principal</a></li>
                            <li><a href="../../#section-especialistas">Especialistas</a></li>
                            <li><a href="./Cursos.html">Cursos</a></li>
                            <li><a href="#">Contábil</a></li>
                            <li><a href="./Administrativo.html">Administrativo</a></li>
                            <li><a href="../../#section-contatos">Contatos</a></li>
                        </ul>
                        
                    </div>
                </section>

                <section class="section-banner" id="nucleos">
                    <div class="nucleo">
                        <h1>Núcleo de Gestão e Contabilidade Aplicada ao Setor Público</h1>
                    </div>
                </section>

                <section class="section-nucleos-extend" >

                    <div class="nucleos-extend">
                        <div class="gestao">
                            <div class="text">
                                <h2> Núcleo de Gestão e Contabilidade Aplicada ao Setor Público</h2>
    
                                <p> Especializado em apoiar administrações públicas na organização financeira e contábil,
                                    esse núcleo oferece soluções para melhorar a eficiência da gestão de recursos, com foco
                                    em planejamento orçamentário, execução financeira, e compliance com normas
                                    contábeis. Trazendo as seguintes soluções:
    
    
                                </p>
                                <ul>
                                    <li>
                                        Assessoria e Consultoria em Contabilidade Aplicada ao Setor Público;
                                    </li>
                                    <li>
                                        Consultoria em Gestão Pública e Controle Interno;
                                    </li>
                                    <li>
                                        Assessoria e Consultoria de apoio junto ao SIGA e e-TCM;
                                    </li>
                                    <li>
                                        Assessoria e Consultoria Técnica junto ao SIGPC;
                                    </li>
                                </ul>
                            </div>
                            <div class="img-nucleo">
                                <img src="../../src/img/image7.jpg" alt="Sobre Nós">
                            </div>
                        </div> 
                    </div>
                </section>

                <section class="section-footer">
                    <footer>
                        <div class="footer1"> 
                            <div class="back">
                                <a href="#">
                                    <p> - ↑ VOLTA AO TOPO ↑ - </p>
                                </a>
                            </div>
                            <div class="nav-footer">
                                <ul>
                                    <a href="../../">
                                        <li>Principal</li>
                                    </a>
                                    <a href="../../#section-especialistas">
                                        <li>Especialistas</li>
                                    </a>
                                    <a href="./Cursos.html">
                                        <li>Cursos</li>
                                    </a>
                                    <a href="#">
                                        <li>Contábil</li>
                                    </a>
                                    <a href="./Administrativo.html">
                                        <li>Administrativo</li>
                                    </a>
                                    <a href="../../#section-contatos">
                                        <li>Contatos</li>
                                    </a>
                                </ul>
                            </div>

                            <div class="footer-contato">
                                <div class="telefone">
                                    <h2>Telefone</h2>
                                    <p>+55 (75) 3199-0770</p>
                                </div>
                                <div class="zap">
                                    <a href="http://wa.me//5575999100770">
                                        <button class="animation-text animated-button" type="button">
                                            <img src="../.././src/img/icons/incompany.png" alt="WhatsApp">
                                            <p>Solicite InCompany!</p>
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <div class="container-allfooter row">
                                <div class="allfooter col-md-4">
                                    <h1>Sobre nós</h1>
                                    <p>A DJ Consultoria em Gestão Pública foi fundada por pura paixão pela área pública, na gestão de seus processos e melhora da performance de sua atuação.</p>
                                </div>
                                <div class="allfooter col-md-4">
                                    <h1>Núcleos de Atuação</h1>
                                    <ul>
                                        <a href="#">
                                            <li>Núcleo de Gestão e Contabilidade aplicada ao setor público.</li>
                                        </a>
                                        <a href="./Administrativo.html">
                                            <li>Núcleo Administrativo.</li>
                                        </a>
                                        <a href="./Cursos.html">
                                            <li>Núcleo de Formação e Treinamentos.</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="allfooter col-md-4">
                                    <h1>Feira de Santana</h1>
                                    <p>Rua Passo Alegre, 325 - Lagoa Salgada - Feira de Santana BA - 44082-150</p>
                                </div>
                               
                            </div>
                                            
                        </div>
                        
                        <div class="footer2">
                            <div class="row">
                                <div class="container-footer">
                                    <div class="footer-text col-md-4">
                                        <p>© 2024 Todos os Direitos Reservados a DJCONSULTORIA</p>
                                    </div>
    
                                    <div class="footer-text col-md-4">
                                        <div class="logo">
                                            <img src="../.././src/img/logo.png" alt="logo">
                                            <h1>CONSULTORIA <br> EM GESTÃO PÚBLICA</h1>
                                        </div>
                                    </div>
    
                                    <div class="footer-text col-md-4">
                                        <ul>
                                            <a href="https://www.instagram.com/consultoria.dj/">
                                                <li>
                                                    <img src="../.././src/img/icons/image.png" alt="Instagram">
                                                </li>
                                            </a>
                                            <a href="http://wa.me//5575999100770">
                                                <li>
                                                    <img src="../.././src/img/icons/whatsApp.png" alt="WhatsApp">
                                                </li>
                                            </a>
                                            <a href="https://www.facebook.com/consultoria.dj">
                                                <li>
                                                    <img src="../.././src/img/icons/facebook.png" alt="Facebook">
                                                </li>
                                            </a>
                                            <a href="mailto:contato@djconsult.com.br">
                                                <li>
                                                    <img src="../.././src/img/icons/email.png" alt="Email">
                                                </li>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                    </footer>
                </section>
            </div>
    
    
    
            <script src="../../src/js/index.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            
    
        </div>
    </main>
</body>
</html>