<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ CONSULTORIA</title>

    <!-- CSS-->
        <link rel="stylesheet" href="../../src/css/home.css">
        <link rel="stylesheet" href="../../src/css/about.css">
        <link rel="stylesheet" href="../../src/css/reponsividade.css">


    <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.min.css">
        <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>
        <script src="../../vendor/bootstrap/js/bootstrap.min.js" defer></script>

    <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- ICON -->
        <link rel="icon" href="../../src/img/logo.png">
    
</head>
<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <section class="section-navbar">
                    <div class="Navs">
                        <nav class="Navbar" id="navbar">
                            <div class="logo">
                                <img src="../.././src/img/logo.png" alt="logo">
                                <h1>CONSULTORIA 
                               <br> EM <Span>GESTÃO PÚBLICA</Span></h1>
                            </div>
            
                            <div class="links">
                                <a href="../../">
                                    <ul>
                                        <li class="nav-links">Principal</li>
                                    </ul>
                                </a>
                                <a href="../../#section-especialistas">
                                    <ul>
                                        <li class="nav-links">Especialista</li>
                                    </ul>
                                </a>
                                <a href="#">
                                    <ul>
                                        <li class="nav-links">Cursos</li>
                                    </ul>
                                </a>
                                <a href="./Contabil.html">
                                    <ul>
                                        <li class="nav-links">Contabil</li>
                                    </ul>
                                </a>
                                <a href="./Administrativo.html">
                                    <ul>
                                        <li class="nav-links">Administrativo</li>
                                    </ul>
                                </a>
                                <a href="../../#section-contatos">
                                    <ul>
                                        <li class="nav-links">Contatos</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="hamburger" id="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </nav>
                        <ul class="extra-menu" id="extra-menu">
                            <li><a href="../../">Principal</a></li>
                            <li><a href="../../#section-especialistas">Especialista</a></li>
                            <li><a href="#">Cursos</a></li>
                            <li><a href="./Contabil.html">Contabil</a></li>
                            <li><a href="./Administrativo.html">Administrativo</a></li>
                            <li><a href="../../#section-contatos">Contatos</a></li>
                        </ul>
                        
                    </div>
                </section>
                

                <section class="section-banner" id="nucleos">
                    <div class="nucleo curso">
                        <h1>Núcleo de Formação e Treinamentos</h1>
                    </div>
                </section>

                <section class="section-nucleos-extend" >
                    <div class="introduction">
                        <h1>Núcleos</h1>
                        
                        <p> A DJ Consultoria em Gestão Pública oferece uma
                            gama de serviços especializados voltados para a
                            otimização e modernização da gestão pública.
                            Nosso foco é fornecer soluções práticas e
                            personalizadas para as diferentes realidades dos
                            municípios e estados, garantindo a eficiência
                            administrativa, atuamos em três núcleos, prestando
                            assessoria nas aréas mais importantes da
                            adminstração púclica, são elas
                        </p>
                    </div>
                    

                    <div class="nucleos-extend">
                        
                        <div class="treinamento">
                            <div class="text">
                                <h2>  Núcleo de Formação e Treinamentos</h2>
    
                                <p> Oferece capacitações práticas, cursos e workshops nos formatos In Company e Livre
                                    Inscrição, com objetivo de formar e atualizar profissionais sobre temas como licitações,
                                    gestão financeira e legislação da gestão pública, sempre voltados para as exigências
                                    atuais do setor público.. Trazendo as seguintes soluções:
    
    
                                </p>
                                <ul>
                                    <li>
                                        Orientação prática sobre a nova contabilidade aplicada ao setor
                                        Público.
                                    </li>
    
                                    <li>
                                        Capacitação técnica para utilização do Sistema Integrado de
                                        Gestão e Auditoria - SIGA.
                                    </li>
    
                                    <li>
                                        Curso sobre planejamento público,
                                    </li>
    
                                    <li>
                                        Cursos relativos a Lei 14.133/2021, suas principais alterações,
                                        artefatos de planejamento e procedimentos.
                                    </li>
    
                                    <li>
                                        Oficinas para elaboração dos documentos de planejamento, de
                                        gestão e fiscalização de contratos, de editais e de
                                        operacionalização do PNCP.
                                    </li>
                                </ul>
                            </div>
                            <div class="img-nucleo">
                                <img src="../../src/img/image10.jpg" alt="Sobre Nós">
                            </div>
                        </div>
                    </div>
                </section>

                <section class="section-equipe" id="section-equipe">

                    <div class="text-especialista">
                        <h2>NOSSOS PALESTRANTES</h2>
                    </div>

                    <div id="expertCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                        <!-- Indicadores -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#expertCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#expertCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#expertCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#expertCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#expertCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>

                        </div>
                    
                        <!-- Conteúdo do Carrossel -->
                        <div class="carousel-inner">
                            <!-- Primeira Slide -->
                            <div class="carousel-item active">
                                <div class="d-flex justify-content-center">
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group1.png" class="profile-img" alt="Especialista 1">
                                        <div>
                                            <h5>Dourimárcia Benevides Oliveira.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="window.location.href='https://www.linkedin.com/in/dourim%C3%A1rcia-benevides-oliveira-923a75a3/?originalSubdomain=br'">Saiba Mais</button>
                                        </div>
                                    </div>
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group2.png" class="profile-img" alt="Especialista 2">
                                        <div>
                                            <h5>Renata Ramos Hayne.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="window.location.href='https://www.escavador.com/sobre/2051776606/renata-ramos-hayne'">Saiba Mais</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                    
                            <!-- Segunda Slide -->
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group3.png" class="profile-img" alt="Especialista 1">
                                        <div>
                                            <h5> Juliana Guanaes S. de C. Farias</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="window.location.href='https://www.linkedin.com/in/juliana-guanaes-s-de-c-farias-3705b318/?originalSubdomain=br'">Saiba Mais</button>
                                        </div>
                                    </div>
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group5.png" class="profile-img" alt="Especialista 2">
                                        <div>
                                            <h5> Tatiana Camarão.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="window.location.href='https://tatianacamarao.com.br/'">Saiba Mais</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Terceiro Slide -->
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group6.png" class="profile-img" alt="Especialista 1">
                                        <div>
                                            <h5> Hamilton Bonatto.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="window.location.href='https://www.linkedin.com/in/hamiltonbonatto/?originalSubdomain=br'">Saiba Mais</button>
                                        </div>
                                    </div>
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group7.png" class="profile-img" alt="Especialista 1">
                                        <div>
                                            <h5> Matheus Carvalho.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="window.location.href='https://www.linkedin.com/in/professor-matheus-carvalho-ba2297246/?originalSubdomain=br'">Saiba Mais</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Quarto Slide -->
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group8.png" class="profile-img" alt="Especialista 2">
                                        <div>
                                            <h5> Rafael Costa Santos.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="window.location.href='https://www.escavador.com/sobre/2310912/rafael-costa-santos'">Saiba Mais</button>
                                        </div>
                                    </div>
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group9.png" class="profile-img" alt="Especialista 1">
                                        <div>
                                            <h5> Antonio Lima.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="window.location.href='https://conlicitago.com.br/mentores/antonio-lima/'">Saiba Mais</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Quinta Slide -->
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group10.png" class="profile-img" alt="Especialista 1">
                                        <div>
                                            <h5> Paulo Reis.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="window.location.href='https://www.linkedin.com/in/paulo-reis-a1551849/?originalSubdomain=br'">Saiba Mais</button>
                                        </div>
                                    </div>
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group11.png" class="profile-img" alt="Especialista 2">
                                        <div>
                                            <h5> Alessandro Macedo.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="window.location.href='https://treinecap.com.br/alessandro-prazeres-macedo-chefe-da-assessoria-juridica-do-tcm-ba/'">Saiba Mais</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                        <!-- Controles do Carrossel -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#expertCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon carousel-control-next-icon1" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#expertCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon carousel-control-next-icon1" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </section>

                <section class="section-footer">
                    <footer>
                        <div class="footer1"> 
                            <div class="back">
                                <a href="#">
                                    <p> - ↑ VOLTA AO TOPO ↑ - </p>
                                </a>
                            </div>
                            <div class="nav-footer">
                                <ul>
                                    <a href="../../">
                                        <li>Principal</li>
                                    </a>
                                    <a href="../../#section-especialistas">
                                        <li>Especialista</li>
                                    </a>
                                    <a href="#">
                                        <li>Cursos</li>
                                    </a>
                                    <a href="./Contabil.html">
                                        <li>Contabil</li>
                                    </a>
                                    <a href="./Administrativo.html">
                                        <li>Administrativo</li>
                                    </a>
                                    <a href="../../#section-contatos">
                                        <li>Contatos</li>
                                    </a>
                                </ul>
                            </div>

                            <div class="footer-contato">
                                <div class="telefone">
                                    <h2>Telefone</h2>
                                    <p>+55 (75) 3199-0770</p>
                                </div>
                                <div class="zap">
                                    <a href="http://wa.me//5575999100770">
                                        <button class="animation-text animated-button" type="button">
                                            <img src="../.././src/img/icons/incompany.png" alt="WhatsApp">
                                            <p>Solicite InCompany!</p>
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <div class="container-allfooter row">
                                <div class="allfooter col-md-4">
                                    <h1>Sobre nós</h1>
                                    <p>A DJ Consultoria em Gestão Pública foi fundada por pura paixão pela área pública, na gestão de seus processos e melhora da performance de sua atuação.</p>
                                </div>
                                <div class="allfooter col-md-4">
                                    <h1>Núcleos de Atuação</h1>
                                    <ul>
                                        <a href="./Contabil.html">
                                            <li>Nucleo de Gestão e Contabilidade aplicada ao setor público.</li>
                                        </a>
                                        <a href="./Administrativo.html">
                                            <li>Nucleo Administrativo.</li>
                                        </a>
                                        <a href="#">
                                            <li>Nucleo de Formação e Treinamentos.</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="allfooter col-md-4">
                                    <h1>Feira de Santana</h1>
                                    <p>Rua Passo Alegre, 325 - Lagoa Salgada - Feira de Santana BA - 44082-150</p>
                                </div>
                               
                            </div>
                                            
                        </div>
                        
                        <div class="footer2">
                            <div class="row">
                                <div class="container-footer">
                                    <div class="footer-text col-md-4">
                                        <p>© 2024 Todos os Direitos Reservados a DJCONSULTORIA</p>
                                    </div>
    
                                    <div class="footer-text col-md-4">
                                        <div class="logo">
                                            <img src="../.././src/img/logo.png" alt="logo">
                                            <h1>CONSULTORIA <br> EM GESTÃO PÚBLICA</h1>
                                        </div>
                                    </div>
    
                                    <div class="footer-text col-md-4">
                                        <ul>
                                            <a href="https://www.instagram.com/consultoria.dj/">
                                                <li>
                                                    <img src="../.././src/img/icons/image.png" alt="Instagram">
                                                </li>
                                            </a>
                                            <a href="http://wa.me//5575999100770">
                                                <li>
                                                    <img src="../.././src/img/icons/whatsApp.png" alt="WhatsApp">
                                                </li>
                                            </a>
                                            <a href="https://www.facebook.com/consultoria.dj">
                                                <li>
                                                    <img src="../.././src/img/icons/facebook.png" alt="Facebook">
                                                </li>
                                            </a>
                                            <a href="mailto:contato@djconsult.com.br">
                                                <li>
                                                    <img src="../.././src/img/icons/email.png" alt="Email">
                                                </li>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                    </footer>
                </section>
            </div>
    
    
    
            <script src="../../src/js/index.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            
    
        </div>
    </main>
</body>
</html>