<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJ CONSULTORIA</title>

    <!-- CSS-->
        <link rel="stylesheet" href="../../src/css/home.css">
        <link rel="stylesheet" href="../../src/css/about.css">
        <link rel="stylesheet" href="../../src/css/reponsividade.css">


    <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="../../vendor/bootstrap/css/bootstrap.min.css">
        <script src="../../vendor/bootstrap/js/bootstrap.bundle.min.js" defer></script>
        <script src="../../vendor/bootstrap/js/bootstrap.min.js" defer></script>

    <!-- FONT -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- ICON -->
        <link rel="icon" href="../../src/img/logo.png">
    
</head>
<body>
    <main>
        <div class="container-fluid">
            <div class="row">
                <section class="section-navbar">
                    <div class="Navs">
                        <nav class="Navbar" id="navbar">
                            <div class="logo">
                                <img src="../.././src/img/logo.png" alt="logo">
                                <h1>CONSULTORIA 
                               <br> EM <Span>GESTÃO PÚBLICA</Span></h1>
                            </div>
            
                            <div class="links">
                                <a href="../../">
                                    <ul>
                                        <li class="nav-links">Principal</li>
                                    </ul>
                                </a>
                                <a href="../../#section-especialistas">
                                    <ul>
                                        <li class="nav-links">Especialista</li>
                                    </ul>
                                </a>
                                <a href="../nucleos/Cursos.html">
                                    <ul>
                                        <li class="nav-links">Cursos</li>
                                    </ul>
                                </a>
                                <a href="../nucleos/Contabil.html">
                                    <ul>
                                        <li class="nav-links">Contabil</li>
                                    </ul>
                                </a>
                                <a href="../nucleos/Administrativo.html">
                                    <ul>
                                        <li class="nav-links">Administrativo</li>
                                    </ul>
                                </a>
                                <a href="../../#section-contatos">
                                    <ul>
                                        <li class="nav-links">Contatos</li>
                                    </ul>
                                </a>
                            </div>
                            <div class="hamburger" id="hamburger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </nav>
                        <ul class="extra-menu" id="extra-menu">
                            <li><a href="../../">Principal</a></li>
                            <li><a href="../../#section-especialistas">Especialista</a></li>
                            <li><a href="../nucleos/Cursos.html">Cursos</a></li>
                            <li><a href="../nucleos/Contabil.html">Contabil</a></li>
                            <li><a href="../nucleos/Administrativo.html">Administrativo</a></li>
                            <li><a href="../../#section-contatos">Contatos</a></li>
                        </ul>
                        
                    </div>
                </section>
                
                <section class="section-banner">
                    <div class="about-us">
                        <h1>Sobre Nós</h1>
                    </div>
                </section>

                <section class="section-about-extend">
                    <div>
                        <h2>Sobre Nós</h2>
                    </div>

                    <div class="about-extend">
                        <div class="about1">
                            <div>
                                <p> A DJ Consultoria se destaca no mercado desde 2017, sendo referência  em gestão
                                    pública, atuando em em três nucleos sendo: contabil, apoio administratovo e
                                    treinamentos. Objetivando sempre a execução de atividades personalizados, por
                                    entendermos que cada Cliente tem sua história, bem como seus desafios próprios. 
                                </p>
                                <p>
                                    Assim, movida pelos princípios éticos buscamos um serviço que atenda as
                                    peculiaridades institucionais de cada órgão, prezando pela honestidade, compromisso,
                                    transparência, eficiência e eficácia, assim,  transparecendo a excelência que a DJ
                                    Consultoria representa.
                                </p>
                            </div>

                            <img src="../../src/img/image1.png" alt="Sobre Nós">
                        </div>

                        <p>
                            Outrossim, sem nunca deixar de lado a qualificação, a ética, honestidade e
                            responsabilidade, a DJ Contabilidade e Consultoria em Gestão LTDA, trabalha
                            implementando ferramentas e tecnologias para o planejamento estratégico que
                            facilitam a execução dos serviços com a máxima transcendência, desse modo
                            tencionando alcançar resultados práticos, qualificados e a máxima satisfação de nossos
                            clientes.
                        </p>
                    </div>

                </section>

                <section class="section-equipe" id="section-equipe">

                    <div class="text-especialista">
                        <h2>NOSSA EQUIPE</h2>
                    </div>

                    <div id="expertCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                        <!-- Indicadores -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#expertCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#expertCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#expertCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                            <button type="button" data-bs-target="#expertCarousel" data-bs-slide-to="3" aria-label="Slide 4"></button>
                            <button type="button" data-bs-target="#expertCarousel" data-bs-slide-to="4" aria-label="Slide 5"></button>

                        </div>
                    
                        <!-- Conteúdo do Carrossel -->
                        <div class="carousel-inner">
                            <!-- Primeira Slide -->
                            <div class="carousel-item active">
                                <div class="d-flex justify-content-center">
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group1.png" class="profile-img" alt="Especialista 1">
                                        <div data-text="Dourimárcia Benevides Oliveira, Contadora, Advogada, Especialista em Direito Público, em Especialista em Contratações públicas com ênfase na Nova Lei de Licitações e Contratos com Formação em Agente de Contratação, em Políticas de Saúde, Concluinte da Pós-Graduação Lato Sensu em Contratações Públicas e Procedimentos Licitatórios Práticos. Atuante na Administração Pública desde 2000. Membro da Comissão de Direito Público da OAB-BA e da Comissão de Contabilidade Aplicada ao Setor Público do CRC-BA.">
                                            <h5>Dourimárcia Benevides Oliveira, <span class="highlight">especialista</span> em contratações públicas e licitações.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="expandCard(this)">Saiba Mais</button>
                                        </div>
                                    </div>
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group2.png" class="profile-img" alt="Especialista 2">
                                        <div data-text="Renata Ramos Hayne, Advogada, Especialista em Direito Público, em Licitações e Contratos (Nova Lei de Licitações), em Direito do Trabalho e em Controle Interno. Mestranda em Direito Administrativo e Administração Pública. Atuante na Administração Pública desde 2010.">
                                            <h5>Renata Ramos Hayne, <span class="highlight">especialista</span> em Direito Público, em Licitações e Contratos.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="expandCard(this)">Saiba Mais</button>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                    
                            <!-- Segunda Slide -->
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group3.png" class="profile-img" alt="Especialista 1">
                                        <div data-text="Dourimárcia Benevides Oliveira, Contadora, Advogada, Especialista em Direito Público, em Especialista em Contratações públicas com ênfase na Nova Lei de Licitações e Contratos com Formação em Agente de Contratação, em Políticas de Saúde, Concluinte da Pós-Graduação Lato Sensu em Contratações Públicas e Procedimentos Licitatórios Práticos. Atuante na Administração Pública desde 2000. Membro da Comissão de Direito Público da OAB-BA e da Comissão de Contabilidade Aplicada ao Setor Público do CRC-BA.">
                                            <h5>Dourimárcia Benevides Oliveira, <span class="highlight">especialista</span> em contratações públicas e licitações.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="expandCard(this)">Saiba Mais</button>
                                        </div>
                                    </div>
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group5.png" class="profile-img" alt="Especialista 2">
                                        <div data-text="Atuante na Administração Pública desde o ano de 2009; Procurador Municipal desde 2011; especialista em licitações e contratos.">
                                            <h5>Ricardo Dantas Moreira, Bacharel em Direito, <span class="highlight">Pós-Graduando</span> em Direito Público.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="expandCard(this)">Saiba Mais</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Terceiro Slide -->
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group6.png" class="profile-img" alt="Especialista 1">
                                        <div data-text="Especialista em Direito do Estado (UFBA). Professora universitária com ênfase em Direito Público e Meios Adequados de Solução de Conflitos (MASCs). Mediadora certificada por Columbia University School of Law (EUA). Palestrante e autora de artigos e capítulos de livro, com publicações nacionais e internacionais.">
                                            <h5>Juliana Guanes, <span class="highlight">Advogada</span>, Doutoranda em Direito (UFBA). Mestra em Direito Público (UFBA).</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="expandCard(this)">Saiba Mais</button>
                                        </div>
                                    </div>
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group7.png" class="profile-img" alt="Especialista 1">
                                        <div data-text="Dourimárcia Benevides Oliveira, Contadora, Advogada, Especialista em Direito Público, em Especialista em Contratações públicas com ênfase na Nova Lei de Licitações e Contratos com Formação em Agente de Contratação, em Políticas de Saúde, Concluinte da Pós-Graduação Lato Sensu em Contratações Públicas e Procedimentos Licitatórios Práticos. Atuante na Administração Pública desde 2000. Membro da Comissão de Direito Público da OAB-BA e da Comissão de Contabilidade Aplicada ao Setor Público do CRC-BA.">
                                            <h5>Dourimárcia Benevides Oliveira, <span class="highlight">especialista</span> em contratações públicas e licitações.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="expandCard(this)">Saiba Mais</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Quarto Slide -->
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group8.png" class="profile-img" alt="Especialista 2">
                                        <div data-text="Atuante na Administração Pública desde o ano de 2009; Procurador Municipal desde 2011; especialista em licitações e contratos.">
                                            <h5>Ricardo Dantas Moreira, Bacharel em Direito, <span class="highlight">Pós-Graduando</span> em Direito Público.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="expandCard(this)">Saiba Mais</button>
                                        </div>
                                    </div>
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group9.png" class="profile-img" alt="Especialista 1">
                                        <div data-text="Dourimárcia Benevides Oliveira, Contadora, Advogada, Especialista em Direito Público, em Especialista em Contratações públicas com ênfase na Nova Lei de Licitações e Contratos com Formação em Agente de Contratação, em Políticas de Saúde, Concluinte da Pós-Graduação Lato Sensu em Contratações Públicas e Procedimentos Licitatórios Práticos. Atuante na Administração Pública desde 2000. Membro da Comissão de Direito Público da OAB-BA e da Comissão de Contabilidade Aplicada ao Setor Público do CRC-BA.">
                                            <h5>Dourimárcia Benevides Oliveira, <span class="highlight">especialista</span> em contratações públicas e licitações.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="expandCard(this)">Saiba Mais</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Quinta Slide -->
                            <div class="carousel-item">
                                <div class="d-flex justify-content-center">
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group10.png" class="profile-img" alt="Especialista 1">
                                        <div data-text="Dourimárcia Benevides Oliveira, Contadora, Advogada, Especialista em Direito Público, em Especialista em Contratações públicas com ênfase na Nova Lei de Licitações e Contratos com Formação em Agente de Contratação, em Políticas de Saúde, Concluinte da Pós-Graduação Lato Sensu em Contratações Públicas e Procedimentos Licitatórios Práticos. Atuante na Administração Pública desde 2000. Membro da Comissão de Direito Público da OAB-BA e da Comissão de Contabilidade Aplicada ao Setor Público do CRC-BA.">
                                            <h5>Dourimárcia Benevides Oliveira, <span class="highlight">especialista</span> em contratações públicas e licitações.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="expandCard(this)">Saiba Mais</button>
                                        </div>
                                    </div>
                                    <div class="slide-card text-center" onmouseleave="shrinkCard(this)">
                                        <img src="../../src/img/especialistas/Group11.png" class="profile-img" alt="Especialista 2">
                                        <div data-text="Atuante na Administração Pública desde o ano de 2009; Procurador Municipal desde 2011; especialista em licitações e contratos.">
                                            <h5>Ricardo Dantas Moreira, Bacharel em Direito, <span class="highlight">Pós-Graduando</span> em Direito Público.</h5>
                                            <p></p>
                                            <button class="read-more-btn" onclick="expandCard(this)">Saiba Mais</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                        <!-- Controles do Carrossel -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#expertCarousel" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon carousel-control-next-icon1" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#expertCarousel" data-bs-slide="next">
                            <span class="carousel-control-next-icon carousel-control-next-icon1" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </section>

                <section class="section-footer">
                    <footer>
                        <div class="footer1"> 
                            <div class="back">
                                <a href="#">
                                    <p> - ↑ VOLTA AO TOPO ↑ - </p>
                                </a>
                            </div>
                            <div class="nav-footer">
                                <ul>
                                    <a href="../../">
                                        <li>Principal</li>
                                    </a>
                                    <a href="../../#section-especialistas">
                                        <li>Especialista</li>
                                    </a>
                                    <a href="../nucleos/Cursos.html">
                                        <li>Cursos</li>
                                    </a>
                                    <a href="../nucleos/Contabil.html">
                                        <li>Contabil</li>
                                    </a>
                                    <a href="../nucleos/Administrativo.html">
                                        <li>Administrativo</li>
                                    </a>
                                    <a href="../../#section-contatos">
                                        <li>Contatos</li>
                                    </a>
                                    
                                </ul>
                            </div>

                            <div class="footer-contato">
                                <div class="telefone">
                                    <h2>Telefone</h2>
                                    <p>+55 (75) 3199-0770</p>
                                </div>
                                <div class="zap">
                                    <a href="http://wa.me//5575999100770">
                                        <button class="animation-text animated-button" type="button">
                                            <img src="../.././src/img/icons/incompany.png" alt="WhatsApp">
                                            <p>Solicite InCompany!</p>
                                        </button>
                                    </a>
                                </div>
                            </div>

                            <div class="container-allfooter row">
                                <div class="allfooter col-md-4">
                                    <h1>Sobre nós</h1>
                                    <p>A DJ Consultoria em Gestão Pública foi fundada por pura paixão pela área pública, na gestão de seus processos e melhora da performance de sua atuação.</p>
                                </div>
                                <div class="allfooter col-md-4">
                                    <h1>Núcleos de Atuação</h1>
                                    <ul>
                                        <a href="../nucleos/Contabil.html">
                                            <li>Nucleo de Gestão e Contabilidade aplicada ao setor público.</li>
                                        </a>
                                        <a href="../nucleos/Administrativo.html">
                                            <li>Nucleo Administrativo.</li>
                                        </a>
                                        <a href="../nucleos/Cursos.html">
                                            <li>Nucleo de Formação e Treinamentos.</li>
                                        </a>
                                    </ul>
                                </div>
                                <div class="allfooter col-md-4">
                                    <h1>Feira de Santana</h1>
                                    <p>Rua Passo Alegre, 325 - Lagoa Salgada - Feira de Santana BA - 44082-150</p>
                                </div>
                               
                            </div>
                                            
                        </div>
                        
                        <div class="footer2">
                            <div class="row">
                                <div class="container-footer">
                                    <div class="footer-text col-md-4">
                                        <p>© 2024 Todos os Direitos Reservados a DJCONSULTORIA</p>
                                    </div>
    
                                    <div class="footer-text col-md-4">
                                        <div class="logo">
                                            <img src="../.././src/img/logo.png" alt="logo">
                                            <h1>CONSULTORIA <br> EM GESTÃO PÚBLICA</h1>
                                        </div>
                                    </div>
    
                                    <div class="footer-text col-md-4">
                                        <ul>
                                            <a href="https://www.instagram.com/consultoria.dj/">
                                                <li>
                                                    <img src="../.././src/img/icons/image.png" alt="Instagram">
                                                </li>
                                            </a>
                                            <a href="http://wa.me//5575999100770">
                                                <li>
                                                    <img src="../.././src/img/icons/whatsApp.png" alt="WhatsApp">
                                                </li>
                                            </a>
                                            <a href="https://www.facebook.com/consultoria.dj">
                                                <li>
                                                    <img src="../.././src/img/icons/facebook.png" alt="Facebook">
                                                </li>
                                            </a>
                                            <a href="mailto:contato@djconsult.com.br">
                                                <li>
                                                    <img src="../.././src/img/icons/email.png" alt="Email">
                                                </li>
                                            </a>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                    
                    </footer>
                </section>
            </div>
    
    
    
            <script src="../../src/js/index.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

            
    
        </div>
    </main>
</body>
</html>