/* 
=========================================================
    GLOBAL STYLES
========================================================= 
*/

body{
    background: #e5e5e5 !important;
}
/* 
=========================================================
    NAVBAR STYLES
========================================================= 
*/
.Navbar{
    background-color: #00000076; 
}


/* 
=========================================================
    SOBRE NÓS STYLES
========================================================= 
*/
.about-us, .nucleo{
    height: 12rem; 
    width: 100%;
    margin-top: 6.7rem;
    background: linear-gradient(rgba(12, 13, 14, 0.5), rgba(12, 13, 14, 0.5)), url(../img/image6.png) fixed  center;
    background-size: 110rem;
    padding: 120px 0;
    display: flex;
    justify-content: center;
}

.about-us h1, .nucleo h1{
    font-size: 4em;
    font-weight: 600;
    color: var(--color3);
    margin-top: -2rem;
}

.section-about-extend{
    padding: 2rem;
    background-color: var(--color1);
    color: var(--color3);
}

.section-about-extend h2{
    font-size: 5em;
    font-weight: 500;
    color: var(--color3);
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem;
    margin-bottom: 2rem;
}

.section-about-extend h2::after{
    content: "";
    position: absolute;
    height: 4px;
    background: var(--color3);
    transition: width 0.3s ease;
    margin-right: 7rem;
    width: 20rem;
}

.about-extend .about1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.about-extend img{
    width: 30%;
    height: 20%;
    margin: 2rem;
    margin-top: -15rem;
}

.about-extend p{
    font-size: 1.3em;
    padding-left: 2rem;
    padding-right: 3rem;
}


/* 
=========================================================
    NUCLEOS STYLES
========================================================= 
*/


.nucleo{
    background: linear-gradient(rgba(12, 13, 14, 0.5), rgba(12, 13, 14, 0.5)), url(../img/image5.png) fixed  center;
    margin-top: 0;
}
.section-nucleos-extend{
    width: 100%;
    height: auto;
    background: #141B3E;
}
.introduction h1{
    font-size: 5em;
    font-weight: 500;
    color: var(--color3);
    display: flex;
    flex-direction: column-reverse;
    margin: 1rem;
    margin-bottom: 2rem;
}
.introduction h1::after{
    content: "";
    position: absolute;
    height: 4px;
    background: var(--color3);
    transition: width 0.3s ease;
    margin-right: 7rem;
    width: 20rem;
}

.introduction p{
    font-size: 1.2em;
    width: 90%;
    padding: 3rem;
    font-weight: 500;
    color: #FFFDFD;

}

.nucleos-extend img{
    width: 30vw;
    margin-top: -10rem;
    padding: 1rem;
    border-radius: 25px;
}


.gestao, .assessoria,.treinamento{
    display: flex;
    width: 100%;
    justify-content: end;
    width: 100%;
    height: auto;
    padding: 4rem 1rem;
    
}

.gestao{
    background: #141B3E;
    background: linear-gradient(180deg, #141B3E 85%, #FFFDFD 100%);
    color: #FFFDFD;
}
.assessoria{
    background: rgb(217,249,152);
    background: linear-gradient(180deg, #FFFDFD 85%, #141B3E 100%);
    text-align: end;
    color: #141B3E;
}
.treinamento{
    background-color: #141B3E;
    color: #FFFDFD;
}

.nucleos-extend h2{
    font-size: 2em;
    font-weight: 700;
    width: 80%;

}
.nucleos-extend p{
    font-weight: 500;
    width: 80%;
}
.assessoria p{
    text-align: end;
    width: 100%;
    padding-left: 20%;
}
.assessoria h2{
    display: contents;
    justify-content: end;
}
.text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.assessoria ul{
    padding-left: 0;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}

.nucleos-extend li{
    width: 80%;
    height: auto;
    padding: 1rem;
    background: #141b3e5b;
    border: 2px solid #141B3E;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.nucleos-extend .gestao li, .nucleos-extend .treinamento li{
    color: #FFFDFD;
    background: rgba(255, 255, 255, 0.292);
    border: 2px solid #FFFFFF;


}





/* 
=========================================================
    FOOTER STYLES
========================================================= 
*/

.footer1{
    margin-top: 0;  
}