/* 
=========================================================
   GLOBAL STYLES
========================================================= 
*/

:root{
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
    font-family: "Montserrat", serif;

    --color1: #141B3E;
    --color2: #1F2A5C ;
    --color3: #FFFDFD;
    --color4: #000000;
    --color5: #E6B97A;
    --color6: #1A1818 ;
}

*{
    font-family: "Montserrat", serif;
}

.container-fluid{
    padding: 0 !important;
}

a, li, ul{
    list-style: none !important;
    text-decoration: none !important;
    color: #000;
}

*::selection {
    color: var(--color3);
    background-color: var(--color2);
}


body{
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 9px;
  }
  
body::-webkit-scrollbar-thumb {
    background:var(--color2);
    border-radius: 10px;
}
  
img, svg {
    width: 50px;
}


/* 
=========================================================
   NAVBAR STYLES
========================================================= 
*/


.Navbar{
    position: absolute;
    right: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fffdfd15;
    border-bottom: var(--color3) 1px solid;
    font-weight: 400;
    transition: top 0.1s ease-out, background-color 0.1s ease-out;

}

/* Estilo do botão hambúrguer */
.hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
  
.hamburger span {
    width: 33px;
    height: 5px;
    border-radius: 5px;
    background-color: var(--color3);
}

/* Estilo do menu extra */
/* Estilo do menu extra */
.extra-menu {
    width: 100%;
    flex-direction: column;
    background-color: #00000076;
    padding: 10px;
    position: fixed;
    top: 6rem;
    right: 0;
    z-index: 10000;
    transform: translateY(-100%); /* Move o menu para fora da tela */
    transition: transform 0.6s ease, opacity 0.6s ease, visibility 0.6s ease; /* Adiciona transição suave */
    opacity: 0; /* Define a opacidade inicial como invisível */
    visibility: hidden; /* Elemento é "invisível", mas ainda ocupando espaço */
    text-align: center;
}

.extra-menu.active {
    transform: translateY(0); /* Move o menu para a posição original */
    opacity: 1; /* Torna o menu visível */
    visibility: visible; /* Garante que o elemento fique visível */
}

  
  
.extra-menu li {
margin: 10px 0;
}

.extra-menu a {
color: var(--color3);
font-size: 1.3em;
font-weight: 500;
text-decoration: none;
}
.extra-menu li:hover a{
    color: var(--color2);
}

  
 


.logo{
    position: relative;
    left: 7rem;
    display: flex;
    gap: 1rem;
    align-items: center;

}
.logo img{
    width: 6rem;
}

.logo h1{
    font-size: 1.3em !important;
    color: var(--color3);
    font-weight: 600;

}
.logo h1 span{
    color: #2fa3e2;
    font-weight: 500;

}
.links{
    display: flex;
    justify-content: center;
    gap: 2rem;
    color: var(--color3);
    font-size: 1em;
    margin-right: 3rem;
}
.links a::after{
    content: "";
    position: absolute;
    height: 2px;
    background: var(--color3);
    transition: width 0.3s ease;
    margin-top: -1rem;
    margin-left: 2rem;
    width: 0;
}
.links a:hover::after{
    width: 7%;
}


.links a:hover ul {
    font-size: 1.2em;
    transition: ease-out 400ms;
    color: var(--color5);
}

.links a, .links li, .links ul{
    transition: ease-out 400ms;
    text-decoration: none;
    list-style: none;
    color: unset;
}

.fixed {
    position: fixed; /* Fixa a navbar no topo */
    top: 0; /* Fica no topo da tela */
    transition: ease-out 1s !important;
    background-color: #00000076; 
    border: #000000 1px solid;
}


/* 
=========================================================
   CAROUSEL STYLES
========================================================= 
*/
.carousel-indicators{
    gap: 1rem;
    margin-bottom: -2rem !important;
}
.carousel-caption h5{
    font-size: 3.5em;
    text-align: center;
    position: relative;
    top: -10rem;
}

.carousel-caption p{
    font-size: 1.2em;
    text-align: center;
    position: relative;
    top: -7rem;
}

.carousel-caption button{
    width: 15rem;
    height: 4rem;
    background: rgba(255, 255, 255, 0.3);
    border: 2px solid #FFFFFF;
    color: var(--color3);
    font-size: 2em;
    font-weight: 600;
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -4rem;
}


.carousel-indicators button {
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%; /* Círculo perfeito */
    background-color: var(--color2); /* Cor da bolinha */
    opacity: 0.5;
}

.carousel-indicators .active {
    background-color: var(--color2) !important; /* Cor da bolinha ativa */
    opacity: 1;
    transition: 0.7s ease !important;

}

#carouselExampleCaptions {
    height: 40rem; /* Altura total da tela */
    padding: 0; /* Remove qualquer padding */
    margin: 0; /* Remove margens */
    z-index: 3;
}

/* Ajusta as imagens para preencher a altura do carrossel */
.carousel-item img {
    height: 43rem; 
    width: 100%; /* Ocupa toda a largura */
    object-fit: cover; /* Cobre o espaço sem distorção */
    object-position: center; /* Centraliza a imagem */
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 5rem !important;
    height: 5rem !important;
}

/* Estilo dos ícones de controle do carrossel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: url('../img/icons/seta.png') !important; /* Caminho para a imagem */
    background-size: contain; /* Ajusta a imagem para caber no botão */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    width: 40px; /* Largura do ícone */
    height: 40px; /* Altura do ícone */
}

.carousel-control-prev-icon {
    transform: rotate(180deg); /* Opcional: inverte a imagem para o botão "prev" */
}



/* 
=========================================================
    EMPRESA STYLES
========================================================= 
*/




.empresa {
    height: 31.5rem;
    background-color: var(--color1);
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}


/* Mantém o estilo original das bolhas */
.bubble {
    box-sizing: border-box;
    position: relative;
    width: 40rem;
    height: 40rem;
    border-radius: 50%;
    background-color: var(--color2);
    color: #fff;
    text-align: center;
    z-index: 2;
    animation: moveBubble 4s ease-in-out infinite alternate;
    transition: background-color 0.4s ease;
    padding: 5rem;
}

.bubble:hover{
    background-color: #fffdfd33;
    transition: background-color 0.4s ease;
}

.bubble h2 {
    margin-bottom: 15px;
    font-size: 2.5em;
    font-weight: 600;
}
.bubble img{
    width: 100px;
}

#visao {
    text-align: start;
    margin-left: -13rem;
    margin-top: 5rem;
    padding-left: 15rem;

}

#visao h2 {
    text-align: right;
}

#missao {
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: -10rem;
    padding-top: 14rem;
}


#valores {
    margin-top: 5rem;
    padding-right: 15rem;
    margin-right: -13rem;
    text-align: end;
    
}


#valores h2 {
    text-align: left;
}

/* Animação original */
@keyframes moveBubble {
    0% { transform: translate(0, 0); }
    50% { transform: translate(10px, -10px); }
    100% { transform: translate(0, 0); }
}


/* 
=========================================================
    SOBRE NÓS STYLES
========================================================= 
*/

.section-about{
    z-index: 3;
}

.about{
    height: 130vh; 
    width: 100%;
    background: linear-gradient(rgba(12, 13, 14, 0.5), rgba(12, 13, 14, 0.5)), url(../img/image2.png) fixed  center;
    background-size: cover;
    /* filter: blur(15px); */
    padding: 120px 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    z-index: 4;

}

.about-box{
    z-index: 4;
    width: 80%;
    height: fit-content;
    background: #ffffff2f;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;  
}
.about-text{
    flex-direction: column;
    display: flex;
    gap: 1rem;
}


.about-box img{
    width: 25vw;
}
.about-text h2{
    text-align: center;
    font-size: 4em;
    font-weight: 500;
    color: var(--color4);
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.about-text h2::after{
    content: "";
    position: absolute;
    height: 4px;
    background: var(--color4);
    transition: width 0.3s ease;
    margin-right: 7rem;
    width: 15rem;
}

.about-text p{
    width: 40vw;
    text-align: center;
    color: var(--color4);
    font-size: 1.3em;
    font-weight: 400;
}

.about-text a{
    width: 8rem;
    margin-top: 3rem;
    margin-left: 25vw;
    text-decoration: none;
    text-align: end;
    color: var(--color3);
    font-size: 1.3em;
    font-weight: 300;
    transition: ease-out 400ms;

}

.about-text a:hover {
    font-size: 1.4em;
    transition: ease-out 400ms;
    color: var(--color5);
}







/* 
=========================================================
    ESPECIALISTAS STYLES
========================================================= 
*/

.text-especialista{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.text-especialista h2{
    width: auto;
    height: 5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #ffffff5c;
    border-radius: 10px;
    color: var(--color4);
    font-size: 3em;
    font-weight: 700;
    font-family: "Montserrat", serif;
}

.section-especialistas{
    height: 100%;
    width: 100%;
    margin-top: -13rem !important;
    z-index: 7;
    background: linear-gradient(180deg, #e1e1e100 80%, #bbbbbb 100%);

}

.carousel-item {
    transition: all 0.3s ease;

}

.slide-card {
    background: #c5c3c378;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 10px;
    width: 40%;
    transition: all 0.3s ease;
    display: flex;
}

.slide-card img{
    width: 15rem;
    height: 16rem;
}

.slide-card h5 {
    font-size: 22px;
    font-weight: bold;
    padding: 1rem;
    color: var(--color4);
}

.section-equipe .slide-card h5 {
    font-size: 30px;
   
    margin-top: 2rem;
    
}

.slide-card p {
    font-size: 1.1em;
    color: #555;
}

.highlight {
    color: #d4af37;
}

/* Estilo para o card expandido */
.expanded-card {
    flex: 1;
    width: 90%;
    z-index: 1000000;
    height: 30rem ;
    transition: all 0.3s ease;
    padding: 2rem;
    z-index: 10;
}

/* Botão de Ler mais */
.read-more-btn {
    color: rgb(163, 163, 163);
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 10px;
    cursor: pointer;
    height: 50px;
    width: 9rem;
    z-index: 4;
    transition: ease-out 400ms;
    cursor: pointer;
}

button{
    width: auto;
}

.read-more-btn:hover {
    background-color: #595d5f15;
    font-size: 20px;
    transition: ease-out 400ms;
    color: var(--color5);
}

.slide-card div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    padding: 1rem;
}

.carousel-control-next {
    right: -3rem !important;
}

.carousel-control-prev {
    left: -3rem !important;
}

.carousel-control-next-icon1, .carousel-control-prev-icon1{
    filter: brightness(0) invert(0);
}


/* 
=========================================================
    CONTATOS STYLES
========================================================= 
*/

.section-contatos{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    background: url(../img/image4.png) fixed center;
    background-size: cover;
    
}




.section-contatos .row{
    width: 100%;
}
.title-contatos{
    width: 100%;
    height: 24rem;
    background: linear-gradient(180deg,#bbbbbb 53%, #e1e1e131 100%);
    z-index: 1;
    display: flex;
    justify-content: center;
    text-align: center;
}


.title-contatos h2{
    gap: 1rem;
    width: 100%;
    font-size: 3em;
    font-weight: 800;
    font-family: "Montserrat", serif;
    margin-bottom: 2rem;
    margin-top: 4rem !important;


}

.title-contatos h2 span{
    color: var(--color2);
}

.Map{
    width: 80vw;
    height: 30rem;
    margin-top: -14rem;
    position: relative;
    z-index: 4;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-contatos h2{
    margin-top: 5rem;
    width: 100%;
    font-size: 2em;
    font-weight: 800;
    font-family: "Montserrat", serif;
    margin-bottom: 2rem;
}

.text-contatos h2 span{
    color: var(--color2);
}

.container-blocos{
    display: flex;
    gap: 5%;
    display: flex;
    align-items: center;
    text-align: center;
    
}

.blocos{
    width: 100%;
    height: 16rem;
    margin-top: 1rem;
    border-radius: 10px;
    background-color: #c3c3c34e;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    padding: 1rem;
}

.blocos img{
    height: 70px;
    width: unset;
}
.blocos h3{
    font-size: 1.4em;
    font-weight: 700;
    color: var(--color2);
}

.blocos p{
    font-size: 1em;
}

.bloco{
    margin-top: 2rem;
    width: 100%;
    height: 30rem;
    border-radius: 10px;
    background-color: #c3c3c34e;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 4rem;

}

.bloco ul a li{
    color: var(--color4);
    text-decoration: none;
    font-weight: 600;
    display: flex;
    gap: 2rem;
    list-style: none;
    font-size: 1.4em;
}

.bloco ul{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 1rem;
    margin-left: 2rem;
    text-decoration: none;

}
.bloco ul a{
    text-decoration: none;
}


.bloco-email{
    margin-top: 1rem;
    width: 90%;
    height: 48rem;
    border-radius: 10px;
    background-color: #c3c3c34e;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    margin-bottom: 4rem;
}

.section-contatos form{
    margin: 3rem;
    width: 80%;
}
  
.section-contatos label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    text-align: start;
    padding-left: 0.5rem;
    color: var(--color4);
    font-size: 1.3em;
  }
  
.section-contatos input[type="text"],
.section-contatos input[type="email"],
.section-contatos textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 2rem;
    border: 1px solid #000;
    border-radius: 5px;
    background-color: transparent;
    font-weight: 700;
  }
  
.section-contatos textarea {
    height: 15rem;
    resize: none;
    margin-bottom: 4rem;
}

.section-contatos button {
    width: 60%;
    height: 4rem;
    padding: 10px;
    background-color: #0c0d2a;
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
.section-contatos button:hover {
    background-color: #33334a;
}

/* 
=========================================================
    FOOTER STYLES
========================================================= 
*/

.footer1{
   width: 100%;
   height: auto;
   padding: 2rem;
   margin-top: -3rem;
   background: linear-gradient(rgba(154, 154, 154, 0.5), rgba(129, 129, 129, 0.5)), url(../img/image3.png) fixed  center;
 
}

.back{
    width: 100%;
    text-align: center;
    font-size: 1em;
}
.back a{
    color: var(--color2);
}

.back a:hover{
    color: var(--color1);
}

.nav-footer {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}
.nav-footer ul{
    display: flex;
    gap: 2rem;
    font-size: 1.4em;
}
.nav-footer ul li{
    font-weight: 400;
    color: var(--color2);
    transition: ease-out 400ms;

}
.nav-footer ul li:hover{
    font-weight: 400;
    transition: ease-out 400ms;

    color: var(--color3);
}

.footer-contato{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
.telefone h2{
    font-size: 2.5em;
    font-weight: 600;
    color: var(--color2);
}
.telefone p{
    font-size: 1.9em;
    font-weight: 600;
    color: var(--color4);
    margin-left: 2rem;
}

.zap button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 1.8em;
    border-radius: 10px;
    font-weight: 600;
    padding: 0.5rem;
}
.zap button p{
    margin-bottom: 0;
}
.container-allfooter{
    margin-top: 3rem !important;
}

.allfooter h1{
    font-size: 1.4em;
    color: var(--color2);
}

.allfooter p{
    color: var(--color4);
    padding: 1rem;
}

.allfooter ul li{
    color: var(--color4);
    margin-top: 1rem;
    transition: ease-out 300ms;
}

.allfooter ul li:hover{
    transition: ease-out 300ms;
    color: var(--color3);
}


.allfooter.insta a{
    display: flex;
    align-items: start;
    margin-top: 3rem;

}
.allfooter.insta img{
    width: 4rem;
}
.allfooter.insta p{
    font-size: 2em;
    padding: 0 1rem;
    

}


.footer2{
    width: 100%;
    height: auto;
    background-color: var(--color2);  
}

.footer2 .footer-text{
    display: flex;
    justify-content: center;
}

.footer2 ul{
    display: flex;
    gap: 1rem;

}
.footer2 .footer-text p{
    font-size: 1em;
    color: var(--color3);
}

.footer2 .logo{
    left: 0;
}

.container-footer{
    width: 100%;
    align-items: center;
    display: flex;
    padding: 2rem;
}

/* 
=========================================================
    ANIMATION STYLES
========================================================= 
*/

/* Define a animação */
@keyframes slideUpFadeIn {
    from {
        transform: translateY(10rem); /* Começa 20px abaixo */
        opacity: 0; /* Opacidade inicial em 0 (invisível) */
    }
    to {
        transform: translateY(0); /* Termina na posição original */
        opacity: 1; /* Opacidade final em 100% */
    }
}
@keyframes slidedownFadeIn {
    from {
        transform: translateY(-15rem); /* Começa 20px abaixo */
        opacity: 0; /* Opacidade inicial em 0 (invisível) */
    }
    to {
        transform: translateY(0); /* Termina na posição original */
        opacity: 1; /* Opacidade final em 100% */
    }
}

/* Estilo básico da animação */
.animation-text {
    animation: slideUpFadeIn 0.8s ease-out forwards; /* Usa "forwards" para manter a posição final */
}

h5.animation-text{
    animation: slidedownFadeIn 0.8s ease-out forwards; /* Usa "forwards" para manter a posição final */
}


/* Adiciona o delay para cada animation-text */
.animation-text:nth-child(1) {
    animation-delay: 0s;
}

.animation-text:nth-child(2) {
    animation-delay: 0.2s;
}

.animation-text:nth-child(3) {
    animation-delay: 0.4s;
}

/* ============================================ */

.animated-button {
    position: relative; /* Necessário para o pseudo-elemento */
    overflow: hidden; /* Esconde o que sai do botão */
    font-size: 16px;
    color: rgb(255, 255, 255); /* Cor do texto */
    background-color: transparent; /* Fundo transparente inicialmente */
    border: 2px solid rgb(255, 255, 255); /* Borda do botão */
    cursor: pointer; /* Muda o cursor ao passar */
    transition: color 0.5s ease;
    z-index: 2; /* Transição suave para a cor do texto */
}

/* Pseudo-elemento para a animação de preenchimento */
.animated-button::before {
    content: ''; /* Cria um pseudo-elemento */
    position: absolute;
    left: 0;
    right: 0;
    top: 100%; /* Começa fora do botão, embaixo */
    height: 100%; /* Preenche todo o botão */
    background-color: white; /* Cor de preenchimento */
    transition: top 0.5s ease; /* Animação de transição suave */
    z-index: -1; /* Coloca atrás do texto */
}

/* Move o pseudo-elemento para preencher o botão ao passar o mouse */
.animated-button:hover::before {
    top: 0; /* Move para preencher o botão */
}

/* Muda a cor do texto quando o botão é hover */
.animated-button:hover {
    color: var(--color1); /* Muda a cor do texto se desejar */
}
