/* Ajustes para telas médias (até 1200px) */
@media (max-width: 1300px) {


    /* 
    =========================================================
    NAVBAR STYLES
    ========================================================= 
    */
    .links{
        margin-right: 0rem;
        font-size: 1em;

    }
    .logo{
        left: 0rem;
    }


    /* 
    =========================================================
    CAROUSEL STYLES
    ========================================================= 
    */
    .carousel-control-prev, .carousel-control-next {
        width: 20% !important;
    }

    .carousel-caption h5 {
        font-size: 3.2em;
        top: -8rem;

    }

    .carousel-caption p {
        font-size: 1em;
    }
    /* 
    =========================================================
        EMPRESA STYLES
    ========================================================= 
    */

    .bubble {
        width: 36rem;
        height: 36rem;
    }
    .bubble img {
        width: 80px;
    }
    .bubble p {
        font-size: 0.9em;
    }

    /* 
    =========================================================
        SOBRE NÓS STYLES
    ========================================================= 
    */


    /* 
    =========================================================
        ESPECIALISTAS STYLES
    ========================================================= 
    */
    .slide-card h5 {
        font-size: 18px;
        padding: 1rem;
    }
    .slide-card {
        width: 50%;
    }

    /* 
    =========================================================
        CONTATOS STYLES
    ========================================================= 
    */
    .bloco ul a li {
        font-size: 1.2em;
    }

    /* 
    =========================================================
        FOOTER STYLES
    ========================================================= 
    */
    .allfooter.insta p {
        font-size: 1.5em;
    }
   
}
@media (max-width: 1200px) {
    .links{
        font-size: 0.9rem;
        gap: 1rem;
    }
    .text-especialista h2{
        font-size: 2.5em;
    }
}

@media (max-width: 1020px) {
    .links{
        font-size: 0.8rem;
        gap: 0.5rem;
    }
    
    .bubble p {
        font-size: 0.8em;
    }

    .bubble#missao p {
        margin: 1rem -2rem;
    }

    .bubble img {
        width: 65px;
    }
}

@media (max-width: 950px) {


    /* 
    =========================================================
    NAVBAR STYLES
    ========================================================= 
    */
    .links{
        display: none;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        right: 20px;
        padding: 10px;
        border-radius: 5px;
        width: 200px;
      }
    
      .nav-links.active {
        display: flex;
      }
    
      .hamburger {
        display: flex;
      }
    .logo{
        left: 0rem;
    }

    .logo h1{
        font-size: 1em !important;
    }

    .logo img {
        width: 5rem;
    }


    /* 
    =========================================================
    CAROUSEL STYLES
    ========================================================= 
    */
    .carousel-control-prev, .carousel-control-next {
        width: 25% !important;
    }
    .carousel-caption h5 {
        font-size: 3em;
    }

    /* 
    =========================================================
        EMPRESA STYLES
    ========================================================= 
    */

    .empresa{
        flex-direction: column;
        height: auto;
    }

    .bubble {
        width: 40rem;
        height: 40rem;
    }

    #visao{
        margin-top: -1rem;
        padding-top: 10rem;

    }
    #missao {
        text-align: end;
        margin-top: -9rem;
        padding-top: 11rem;
        margin-left: 45%;
        padding-right: 13rem;
    }
    #missao{
        text-align: center;
    }

    #valores{
        text-align: start;
        margin-left: -13rem;
        margin-top: -5rem;
        padding-left: 15rem;
        margin-bottom: -7rem;
        padding-top: 10rem;

    }
    #valores h2{
        margin-left: 10rem;
    }
    #valores h2{
        width: 18rem;

    }

    /* 
    =========================================================
        SOBRE NÓS STYLES
    ========================================================= 
    */

    .about-box {
        flex-direction: column-reverse;
    }
    .about-text p {
        width: 72vw;
        font-size: 1em;
    }
    .about-text a {
        width: 8rem;
        margin-top: 8rem;
        margin-left: 53vw;
    }
    .about-box img {
        width: 20vw;
        image-orientation: from-image;
        margin-top: -12rem;
        margin-left: -14rem;
    }


    /* 
    =========================================================
        ESPECIALISTAS STYLES
    ========================================================= 
    */
    .slide-card h5 {
        font-size: 25px;
        padding: 1rem;
    }
    .justify-content-center{
        flex-direction: column;
        align-items: center;
    }
    .slide-card {
        width: auto;
        margin: 45px;
    }
    .text-especialista h2 {
        font-size: 2.5em;
    }
    /* 
    =========================================================
        CONTATOS STYLES
    ========================================================= 
    */
    .Map {
        height: 25rem;       
    }
    .bloco ul a li {
        font-size: 1em;
    }
    .bloco ul {
        margin-left: 0rem;
    }

    /* 
    =========================================================
        FOOTER STYLES
    ========================================================= 
    */
    .nav-footer ul {
        font-size: 0.9em;
    }

    /* 
    =========================================================
        ABOUT STYLES
    ========================================================= 
    */

    .about-us {
        margin-top: 6rem;
    }
    .about1, .gestao, .assessoria, .treinamento{
        display: flex;
        flex-direction: column;
        margin-top: 0;
        text-align: center;
        align-items: center;

    }
    .about1 img, .gestao img, .assessoria img, .treinamento img{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    .img-nucleo{
        display: flex;
        justify-content: center;
    }
    .text {
        align-items: center;
    }
    .nucleos-extend li{
        width: 100%;
    }
    .nucleos-extend img {
        width: 50vw;
    }
    .text-especialista h2{
        font-size: 2em;
    }
}  






/* Ajustes para telas pequenas (até 768px) */
@media (max-width: 768px) {

    /* 
    =========================================================
    NAVBAR STYLES
    ========================================================= 
    */
   


    /* 
    =========================================================
    CAROUSEL STYLES
    ========================================================= 
    */

    .carousel-control-prev, .carousel-control-next {
        width: 30% !important;
    }
    .carousel-caption h5 {
        font-size: 2.5em;
        top: -8rem;

    }

    .carousel-caption p {
        font-size: 0.8em;
    }

    /* 
    =========================================================
        EMPRESA STYLES
    ========================================================= 
    */

   
    .bubble {
        width: 30rem;
        height: 30rem;
    }
    .bubble p {
        font-size: 0.7em;
    }
    .bubble h2{
        font-size: 1.5em;
    }
    #visao {
        padding-top: 6rem;
    }
    #missao {
        padding-top: 7rem;
        
    }
    #valores h2 {
        margin-left: 6rem;
    }
    #valores p {
        width: 13rem;
    }
    /* 
    =========================================================
        SOBRE NÓS STYLES
    ========================================================= 
    */
    .about-box img {
        width: 29vw;
        image-orientation: from-image;
        margin-top: -11rem;
        margin-left: -10rem;
    }

    /* 
    =========================================================
        ESPECIALISTAS STYLES
    ========================================================= 
    */

    .slide-card h5 {
        font-size: 23px;
    }



    /* 
    =========================================================
        CONTATOS STYLES
    ========================================================= 
    */
    .bloco ul a li {
        flex-direction: column;
    }
    .bloco{
        height: auto;
    }

    .bloco ul a li{
        align-items: center;
    }
    
    .bloco ul a li img{
        width: 70px;
    }

    /* 
    =========================================================
        FOOTER STYLES
    ========================================================= 
    */
    .nav-footer ul {
        gap: 1rem;
    }

    .footer-contato {
        gap: 3rem;
        flex-direction: column;
        align-items: center;
        font-size: 0.6em;
    }
    .telefone h2 {
        text-align: center;
        margin-left: 0;       
    }
    .telefone p{
        margin-left: 0;
    }
    .allfooter.insta p {
        padding: 1rem 0.5rem;
    }
    .container-footer {
        gap: 2rem;
        flex-direction: column;
        padding: 1rem;
    }


    /* 
    =========================================================
        ABOUT STYLES
    ========================================================= 
    */


    .about-extend p, .introduction p {
        font-size: 1em;
    }
    .section-about-extend h2, .introduction h1 {
        font-size: 4em;
    }
    .section-about-extend h2::after ,.introduction h1::after {
        
        width: 13rem;
    }
    .text-especialista h2{
        font-size: 1.3em;
    }
    
}

@media (max-width: 550px) {

    /* 
    =========================================================
    GLOBAL STYLES
    ========================================================= 
    */


    /* 
    =========================================================
    NAVBAR STYLES
    ========================================================= 
    */


    /* 
    =========================================================
    CAROUSEL STYLES
    ========================================================= 
    */

    .carousel-control-prev, .carousel-control-next {
        width: 40% !important;
    }
    .carousel-caption h5 {
        font-size: 2.2em;
        top: -8rem;

    }

    .carousel-caption p {
        font-size: 0.8em;
    }
    .carousel-caption button {
        width: 12rem;
        height: 4rem;
        font-size: 1.7em;
        top: -4rem;
    }
    .carousel-control-next-icon, .carousel-control-prev-icon {
        width: 3rem !important;
        height: 3rem !important;
    }

    /* 
    =========================================================
        EMPRESA STYLES
    ========================================================= 
    */

    /* 
    =========================================================
        SOBRE NÓS STYLES
    ========================================================= 
    */
    .about-text a {
        width: 8rem;
        margin-top: 8rem;
        margin-left: 40vw;
    }
    .about-text h2 {
        font-size: 3em;
        
    }
    .about-text h2::after {
        margin-right: 0rem;
    }
    .text-especialista h2{
        font-size: 1em;
    }
    /* 
    =========================================================
        ESPECIALISTAS STYLES
    ========================================================= 
    */
    .slide-card h5 {
        font-size: 15px;
    }

    /* 
    =========================================================
        CONTATOS STYLES
    ========================================================= 
    */
    .Map {
        height: 20rem;
        margin-top: -9rem;
       
    }
    .container-blocos, .bloco ul a li {
        flex-direction: column;
    }
    .bloco{
        height: auto;
    }

    .bloco ul a li{
        align-items: center;
    }
    
    .bloco ul a li img{
        width: 70px;
    }
    /* 
    =========================================================
        FOOTER STYLES
    ========================================================= 
    */
    .nav-footer ul {
        flex-direction: column;
        text-align: center;
    }
    
    .footer1 {
        padding: 1rem;
    }
    


  
}

/* Ajustes para telas muito pequenas (até 480px) */
@media (max-width: 480px) {

    /* 
    =========================================================
    GLOBAL STYLES
    ========================================================= 
    */


    /* 
    =========================================================
    NAVBAR STYLES
    ========================================================= 
    */


    /* 
    =========================================================
    CAROUSEL STYLES
    ========================================================= 
    */
    .carousel-control-prev, .carousel-control-next {
        width: 40% !important;
    }
    .carousel-caption h5 {
        font-size: 2em;
        top: -9rem;

    }

    .carousel-caption p {
        font-size: 0.7em;
    }


    /* 
    =========================================================
        EMPRESA STYLES
    ========================================================= 
    */
    #missao {
        text-align: end;
        margin-top: -6rem;
        padding-top: 6rem;
        margin-left: 28%;
        padding-right: 15rem;
    }

    /* 
    =========================================================
        SOBRE NÓS STYLES
    ========================================================= 
    */
    .about-text h2 {
        font-size: 2em;
    }
    .about-text h2::after {
        width: 9rem;
    }
    .about-box img {
        width: 50vw;
        margin-top: -20rem;
        margin-left: 0rem;
    }
    .about-text a {
        margin-top: 14rem;
        margin-left: 16vw;
    }
    .about {
        height: 160vh;
    }
    .text-especialista h2{
        font-size: 0.9em;
    }

    /* 
    =========================================================
        ESPECIALISTAS STYLES
    ========================================================= 
    */
    .slide-card {
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
        width: min-content;
    }
    
    .slide-card img {
        width: 15rem;
        height: 17rem;
    }
    


    /* 
    =========================================================
        CONTATOS STYLES
    ========================================================= 
    */


    /* 
    =========================================================
        FOOTER STYLES
    ========================================================= 
    */
    

    /* 
    =========================================================
        ABOUT STYLES
    ========================================================= 
    */
    .about-us h1, .nucleo h1 {
        font-size: 3em;
        
    }

    .about-extend p, .introduction p {
        width: 100%;
        text-align: center;
    }
    .section-about-extend h2, .introduction h1 {
        font-size: 3em;
    }
    .section-about-extend h2::after ,.introduction h1::after {
        width: 10rem;
    }

    .nucleos-extend li {
        width: 100%;
        font-size: 0.8em;
    }
    
}



